body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#000
}
/* Header */
.logo{
    width:12.5rem;
    height: 0.625rem;
    margin-top: -3rem;
    margin-bottom: 6rem;
    margin-left: 45%;
    padding:0;
}

.logo img{
    max-width: 80%;
    height: auto;
    /* border: 1px solid #000;
    border-radius: 50px; */
}
/* Section */
.main-container{
    max-height: 100vh;
    max-width: 500vh;
    display: flex;
    flex-direction: row;
    gap:1rem;
    align-items: center;
    background-color: #E9EEF5;
}
/* Section */
.sub-container{
    background-color: #ffffff;
    width: 100vw;
    height: 80vh;
    padding: 1.56rem;
    border-radius: 0.3rem;
    margin: 7.2rem 7.8rem;
}
/* Inputs */
.container-content{
    margin-bottom: 0.94rem;
}
p.sub-heading{
    margin-bottom: 0.2rem;
}
.sub-container textarea{
     width: 100%;
     height:8rem;
    padding-left: 0.2rem;
}
.sub-container textarea#replace{
    width: 100%;
    height:3rem;
   padding-left: 0.2rem;
}
.sub-container button{
    background: linear-gradient(93.58deg, #2AF598 0%, #08AEEA 50%);
    border:none;
    padding: 0.625rem 1.6rem;
    margin-left:15rem;
    color: #ffffff;
}
/* Outputs */
span{
    display: flex;
    justify-content: space-between;
}
span :last-child{
    border:1rem;
    padding: 0.5rem 1rem;
    background-color: #E9EEF5;
    margin-right:0;
}
.container-content-2{
    margin-bottom: 15px;
    display:inline-flex;
    column-gap: 10px;
}
.container-content-2 p{
    font-size: small;
}
.sub-container textarea#output-textarea{
    width: 100%;
    height:20rem;
   padding-left: 0.2rem;
}
.container-content-2 .output-result-1{
    background: #2AF598;
    border:none;
    padding: 0.5rem;
    width:6.25rem;
    height: 5.5rem;
    text-align: right;
}
.container-content-2 .output-result-2{
    background: #08AEEA;
    border:none;
    padding: 0.5rem;
    width:6.25rem;
    height: 5.5rem;
    text-align: right;
}
.container-content-2 .output-result-3{
    background: #DFAFB2;
    border:none;
    padding: 0.5rem;
    width:6.25rem;
    height: 5.5rem;
    text-align: right;
}
footer{
    text-align: center;
    border-top: 1px solid;
    background-color: #000;
    padding: 10px;
    color: #ffffff;
}

/* Media queries */
@media screen and (max-width:400px){
    .main-container{
        display: flex;
        flex-direction:column;
        /* gap:0.25rem; */
        align-items: center;
    }
}